body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure geocoder is fully visible */
.leaflet-top.leaflet-right {
  z-index: 1100; /* higher than most leaflet elements */
}

/* Leaflet Geocoder search box */
.leaflet-control-geocoder {
  width: 250px !important;
  border: 2px solid #333;
  border-radius: 6px;
  background: #fff;
  padding: 2px 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
}

/* Make the input inside the control wider */
.leaflet-control-geocoder input {
  width: 220px !important;
  padding: 4px;
  border: none;
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;